.main {
  /* width: 20%; */
  height: fit-content;
  margin: 0;
  padding: 0;
}

.faculties {
  color: #2c5f2d;
  margin: 1rem;
  padding: 0;
}

.faculty {
  list-style-type: none;
  margin: 0rem;
  padding: 0;
}
