.main {
  width: 20%;
  height: fit-content;
  background-color: rgb(119, 190, 190);
  margin: 0;
}

h2 {
  margin: 1rem;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}
