.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.newsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
}
