.main {
  width: 80%;
  background-color: rgb(164, 75, 75);
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
